<p class="text-center text-2xl mb-7">This application is split up into three seperate angular
  applications. The "<strong>Shell</strong>", "<strong>Basket</strong>" and "<strong>Profile</strong>" applications. The profile page uses OKTA authentication to be viewed.</p>
<p class="text-center text-3xl mb-7 text-pink-500">Which sweet treat will you enjoy today?</p>
<div class="flex flex-wrap gap-4">
    <app-product *ngFor="let p of products" [product]="p" (purchase)="addToBasket($event)"></app-product>
</div>
